.errormessage {
  color: red
}

.logo {
  width: 10em;
  height: 10em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.table.is-scrollable tbody {
  overflow-y: scroll;
  width: auto;
  position: absolute;
}

.visitortable {
  min-height: 40vh;  
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.site-body {
  flex: 1;
}

section.welcome {
  margin-bottom: 5px;
}

.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.hero.welcome .title, .hero.welcome .subtitle {
  color: hsl(192, 17%, 99%);
}

.events-card .card-table {
  max-height: 250px;
  overflow-y: scroll;
}